.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout-children {
    flex: 2;
    padding-top: 100px;
}

.home-link {
    text-decoration: none;
}