.home-header {
    display: flex;
    align-items: center;
    height: 245px;
    width: 95%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d3f4ee;  
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.12);
}

.closer-look {
}

.home-header h1 {
    color: #1e789c;
    font-size: 90px;
    font-weight: 400;
    line-height: 1;
    font-family: 'Changa One', cursive;
}

.home-header h3 {

}

.home-hamburger {
   margin-left: 20px;
   margin-right: 25px;
}

/* .search {
    margin-left: 700px;
} */