.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 105px;
    width: 95%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d3f4ee;  
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.12);
}

.ham-home {
    display: flex;
    align-items: center;
}

.header h1 {
    display: flex;
    align-items: center;
    color: #1e789c;
    font-size: 45px;
    font-weight: 400;
    line-height: 1;
    margin-left: 15px;
    font-family: 'Changa One', cursive;
}

.hamburger {
   margin-left: 20px;
   margin-right: 25px;
}

.search-user {
    display: flex;
}

.search {
    height: 30px;
    width: auto;
}

.user {
    height: 35px;
    width: auto;
    align-self: center;
    margin-left: 15px;
    margin-right: 30px;
}

/***** MEDIA QUERIES *****/

@media all and (max-width: 425px) {
    .header {
        width: 100%;
    }
    
    .header h1 {
        font-size: 30px;
    }

    .hamburger {
        width: 35px;
        margin-right: 10px;
    }
}