.product-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.product-cards a {
  text-decoration: none;
  color: #4c7586;
}

.product {
  display: flex;
}

.product-img {
  width: 120px;
}

.brand-info {
  text-transform: uppercase;
}

.product-info {
  font-style: italic;
  font-weight: 700;
}