.product-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-cards a {
  text-decoration: none;
  color: #4c7586;
}

.product {
  display: flex;
}

.product-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin-right: 10px;
}

.brand-info {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  line-height: 5px;
}

.product-info {
  font-style: italic;
  font-weight: 700;
}

.product-hr {
  border-top: 3px solid #4c7586;
  width: 350px;
  margin-bottom: 20px;
}

.true{
  border: 2px solid green
}

.false{
  border: 2px solid red;
}