.product-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-cards a {
  text-decoration: none;
  color: #4c7586;
}

.product {
  display: flex;
}

.product-img {
  height: 120px;
  margin-right: 10px;
}

.brand-info {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}

.product-info {
  font-style: italic;
  font-weight: 700;
}