.signup {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.signup img {
    margin: 0 auto;
}

.full-name {
    margin-top: 20px;
}

.create-an-header {
    font-size: 10px;
    color: #4c7586;
}

.signup input {
    height: 30px;
    border-radius: 6px;
    border: solid 1px #4c7586;
    background-color: white;
    color: #4c7586;
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    margin: 5px;
}

.signup-btn {
    border: none;
    border-radius: 6px;
    background-color: #248eb9;
    color: white;
    font-size: 13px;
    height: 30px;
    margin: 5px;
}