.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-img {
    margin: 0 auto;
    padding: 30px;
}

.login-header {
    margin: 5px;
}

.log-header {
    font-size: 10px;
    color: #4c7586;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-line {
    width: 100px;
    border: 1px solid #4C7586;
    transform: rotate(180deg);
}

.login input {
    height: 30px;
    width: 232px;
    border-radius: 6px;
    border: solid 1px #4c7586;
    background-color: white;
    color: #4c7586;
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    margin: 10px;
}

.login-btn {
    border: none;
    border-radius: 6px;
    background-color: #248eb9;
    color: white;
    font-size: 13px;
    height: 30px;
    margin: 10px;
}

/***** MEDIA QUERIES *****/

@media all and (max-width: 425px) {
    .login-btn {
        width: 240px;
    }
  }