.search-form {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 633px;
  height: 53px;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 0 rgba(100, 51, 51, 0.12);
  border: solid 2px  #4c7586;
  background: url('https://res.cloudinary.com/darnycya/image/upload/v1595343529/SearchBar_easvhr.png') no-repeat;
  /* background-color: rgba(255, 255, 255, 0.96); */
}

.search-input::placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  line-height: 1;
  letter-spacing: normal;
  color: #4c7586;
  text-indent: 75px;

}

/* button {
  margin-left: -640px;
} */